*{
    box-sizing: border-box;
}

body{
    margin: 0px;
}

header{
    background-color:aliceblue;
    text-align: center;
    padding: 25px;

}
.navbar{
    background-color: #222928;
    height: 50px;
}

aside{
    width: 20%;
    float: left;
    padding: 10px;
}

section{
    width: 40%;
    float: left;
}

article{
    width: 20%;
    float: left;
}

footer{
    display: block;
    clear: both;
    background-color:rgb(233, 34, 34);
    text-align: center;
    padding: 25px;

}
@media screen and (max-width: 650px){
    aside, section, article{
        width: 100%;
    }
}