body{
    margin: 0px;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}

h1{
    text-align: center;

}
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #222928;
    overflow: hidden;

}
.navbar a{
    color: rgb(226, 218, 218);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;

}
.navbar a:hover{
    background-color: #3b3f3e;
}
.navbar li{
    float: left;
}