h1::first-letter {
    font-size: 2em;
    font-style:bold;
}
p::first-line{
    background-color: yellow;
}
p::selection{
    color:rgb(238, 238, 238);
    background-color: rgb(50, 143, 38);
}
#apple::after {
    content: "🍎";
}
#Banana::after {
    content: "🍌";
}   
#Cherry::after {
    content: "🍒";
}
#fruit li::marker{
    content: "✓ ";
    color: red;
    font-size: 1.5em;    
}   
