.dropdown{
    display: inline-block;
}
.dropdown button {
    background-color: #48ac4b;
    color: rgb(207, 72, 72);
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown a{
    text-decoration: none;
    display: block;
    padding: 8px 12px;
    color: rgb(255, 255, 255);
}
.dropdowncontent{
    display: none;
    position: absolute;
    background-color: #48ac4b;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(228, 2, 2, 0.966);
}
.dropdown:hover .dropdowncontent{
    display: block;
}
.dropdown:hover button{
    background-color: #3e8e41;
}
.dropdowncontent a:hover{
    background-color: #635f5f;
}