#box1{
    width: 250px;
    height: 250px;
    border: 5px solid;
    font-size: 13em;
    text-align: center;
    background-color: rgb(243, 92, 92);
    transform: translate(10px,30px); /* Move right 50px and down 50px */
    transform: rotateZ(15deg); /* Rotate 15 degrees around Z-axis */
    transform: skewX(20deg); /* Skew 20 degrees along X-axis */
}